---
title: Gallery
heading: Gallery
subtitle: See our photos
layout: page
---

<section class="diagonal patterned">
	<div class="container">
			{% include image-gallery.html folder="/images/gallery" %}
	</div>
</section>
