---
title: Ortax
---
<style>
	li iframe {
				text-align: center;
				width: 500px;
				margin: 20px;
				border-radius: 5px 5px 5px 5px;
		}

	ul li img {
				text-align: center;
				width: 500px;
				margin: 20px;
				border-radius: 5px 5px 5px 5px;
		}

		@media only screen and (max-width: 600px) {
			.video {
			    width: 90%;
			}
			ul li img {width: 90%}
		}


</style>

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">We build self-driving cars</h2>
		<p class="subtext editable">Self-driving cars are not the future any
		more.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div >
			<ul class="image-list">
				<li>{% include youtube-player.html id="sURzCwSoF4g" %}</li>
				<li><img src="{{ site.baseurl }}/images/group.jpg" ></li>
			</ul>
		</div>
		<div>
	<!--		<h3 class="editable">Latest software, greatest perfomance</h3>-->
			<p class="editable">The Ortax Group was founded in the summer of 2017 with the participation of three students from the Department of Electrical and Electronics Engineering, two students from the Department of Computer Engineering, a student from the Department of Mechanical Engineering and an Assistant Professor from the Department of Computer Engineering.</p>
		</div>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
	<!--		<h3 class="editable">Some of our work</h3>-->
			<p class="editable">Members of the Ortax Group have experience in Machine Learning, Embedded Systems and Robotics.</p>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/car.jpg" ></li>
				<li><img src="{{ site.baseurl }}/images/team.jpg" ></li>
			</ul>
		</div>
	</div>
</section>
