<style>
  .image-gallery {overflow: auto; text-align: center;}

  @media only screen and (max-width: 600px) {
    .image-gallery a {float: left; display: block; margin: 1% 0% 0% 1%; width: 98%;text-align: middle;padding:0% 0% 1% 0%}
  }
  @media only screen and (min-width: 600px) {
    .image-gallery a {float: left; display: block; margin: 1% 0% 0% 1%; width: 48%;text-align: middle;padding:0% 1% 1% 0%}
  }
  @media only screen and (min-width: 768px) {
    .image-gallery a {float: left; display: block; margin: 1% 0% 0% 1%; width: 31%;text-align: middle;padding:0% 1% 1% 0%}
  }

  .image-gallery a img {width: auto;max-height: 260px;border-radius: 15px 15px 15px 15px;border: 1px solid #FFA715;}
  .image-gallery a img:hover {box-shadow: 0px 0px 2px 3px rgba(220, 50, 47, 0.5);}
</style>

<div class="image-gallery" >
{% for file in site.static_files %}
  {% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or
      file.extname == '.jpeg' or
      file.extname == '.JPG' or
      file.extname == '.JPEG' %}
      <a target= "_blank" href="{{ file.path }}">
        <img src="{{ file.path }}"  />
      </a>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
